<% include ../partials/header %>
<body>
  <div class="content">
    <div class="header">

<br><h2>playlists:</h2>

<!-- LIST OF PLAYLISTS -->
<% for(var i=0; i < data.items.length; i++) {%>
  <h3><a href='/playlist/?playlistId=<%= data.items[i].id %>'>
    <%= data.items[i].name %>
  </a></h3>
<% } %>
    </div>
<a href="/dj/?nextUrl=<%= data.previous %>" class="exit">Previous</a>
<a href="/dj/?nextUrl=<%= data.next %>" class="exit">Next</a>
  </div>
  <a href="/venue-list" class="exit">Exit</a>
</body>
</html>
