<% include ../partials/header %>
<body>
  <div class="content">
    <div class="header">
      <h2>Sign up:</h2>
      <a href='/login'>Log in</a>
    </div>

    <form action="/signup" method="POST">
      <input type="text" name="username" placeholder="username">
      <input type="text" name="password" placeholder="password">
      <input type="submit" value="submit">
    </form>

      <div class='message'><%= message %></div>

    </div>
</body>
</html>
