<% include ../partials/header %>
<body>
  <div class="content">
    <div class="header">
      <h2>Track added</h2>

    </div>

<!-- playlist/?venue=Ewoks&playlistId=1BD1K3MScX6w7NlRPqxdZt&playlistName=Ewoks -->
<!-- addToPlaylist?venue=Ewoks&trackId=5CjaZUILwWNeulL4GZO83s -->
  </div>
  <a href="/venue-list" class="exit">Exit</a>
</body>
</html>
