<% include ../partials/header %>
<body>
  <div class="content">
    <div class="header">
      <h2>Add a Venue</h2>
    </div>


      <form action="/addVenue" method="post" class="createForm">
        <input type="text" name="venueName">
        <button class="create crud">Add Venue</button>
      </form>
    </div>
</body>
</html>
