<% include ../partials/header %>
<body>
  <div class="content">
    <div class="header">
      <h2><%=sendData.venue%> Venue:</h2>
<br><h2> Data:<%=sendData.data.items[0].album_group%></h2>
    </div>


<a href="/venue-list">venue list</a>
    </div>
</body>
</html>
