<% include ../partials/header %>
<body>
  <div class="content">
    <div class="header">
      <h2>Venue:</h2>
    </div>
      <!-- LIST OF VENUES -->
      <% for(var i=0; i<venues.length; i++) {%>
        <h3><a href='venue/?venue=<%= venues[i].name %>'><%= venues[i].name %></a></h3>
      <% } %>
    </div>
</body>
</html>
