<% include ../partials/header %>
<body>
  <div class="content">
    <div class="header">
      <h2><%=venue%> Venue:</h2>

    </div>


<a href="/venue-list">venue list</a>
    </div>
</body>
</html>
