@import url("https://fonts.googleapis.com/css?family=Anton|Saira+Extra+Condensed");

html {
  font-family: "Anton";
}
h2 {
  font-size: 30px;
  padding: 20px 0;
}
h3 {
  font-size: 20px;
  padding: 6px 0;
}
a {
  text-decoration: none;
  color: #4caf50;
}
a:hover {
  text-decoration: underline;
}
.content {
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding: 10px;
}
.member {
  font-family: "Saira Extra Condensed";
  font-weight: normal;
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
}
.member a {
  padding: 0 2px 0 5px;
}
.btn:hover {
  text-decoration: none;
}
.btn {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.exit:hover {
  text-decoration: none;
}
.exit {
  background-color: black;
  display: inline-block;
  text-align: center;
  padding: 15px 10px 15px 10px;
  width: 34px;
  height: 60px;
  margin: 10px;
}
